* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
:after,
:before {
	box-sizing: border-box;
}
:active,
:focus {
	outline: 0;
}
a:active,
a:focus {
	outline: 0;
}
aside,
footer,
header,
nav {
	display: block;
}
body,
html {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: sans-serif;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
button {
	background: transparent;
	cursor: pointer;
}
input {
	background: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
body {
	background-color: #e5e5e5;
}
.title {
	font-size: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	margin: 0 0 12px 0;
}
.todo {
	background-color: #fff;
	width: 500px;
	padding: 40px 20px;
	margin: 50px auto;
	font-family: 'Roboto', sans-serif;
}
.todo__high-priority {
	margin: 0 0 12px 0;
}
.high-priority {
}
.high-priority__title {
}
.high-priority__add-task {
	margin: 0 0 8px 0;
}
.add-task {
	position: relative;
	height: 45px;
	width: 460px;
	margin: 0 auto;
	border: 1px solid #989898;
	border-radius: 6px;
	padding: 0 12px 0 0;
	margin: 0 0 8px 0;
}
.add-task__form {
	display: flex;
	align-items: center;
}
.add-task__input {
	padding: 12px;
	height: 100%;
	width: 100%;
	font-size: 18px;
}
.add-task__add-btn {
	position: relative;
	height: 23px;
	width: 23px;
	transform: rotate(45deg);
}
.add-task__add-btn svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	fill: #989898;
}
.high-priority__task {
}
.task {
	border: 1px solid #989898;
	border-radius: 6px;
	display: flex;
	padding: 12px;
	margin: 0 0 8px 0;
}
.task:last-child {
	margin: 0px;
}
.task__checkbox {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
.task__label {
}
.task__style {
	position: absolute;
	width: 16px;
	height: 16px;
	border: 1px solid #998899;
	border-radius: 50%;
	cursor: pointer;
}
.task__checkbox:checked + .task__style::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #c4c4c4;
}
.task__text {
	padding: 0 0 0 24px;
	flex: 1 0 0;
	font-size: 18px;
}
.task__cancel-btn {
	position: relative;
	height: 23px;
	width: 23px;
	flex: 0 1 1;
	background: transparent;
}
.task__cancel-btn svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	fill: #989898;
}
.medium-priority {
	margin: 0 0 12px 0;
}
.low-priority {
	margin: 0 0 12px 0;
}
